html,body,#root{
  min-height:100%;
  width:100%;
}

.auth-page{
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
background:#07152B;
}

.auth-card{
width:420px;
padding:40px;
background:#0B1F3A;
border:1px solid #1D3656;
border-radius:14px;
display:grid;
gap:14px;
}

.auth-card input{
background:#07152B;
border:1px solid #28415F;
padding:12px;
color:white;
border-radius:8px;
}

.small-btn{
width:auto;
min-width:140px;
}

.link-btn{
background:none;
border:none;
color:#D4AF37;
cursor:pointer;
margin-left:10px;
}

.modal-overlay{
position:fixed;
inset:0;
background:rgba(0,0,0,.7);
display:flex;
justify-content:center;
align-items:center;
}

.modal{
width:320px;
padding:30px;
background:#0B1F3A;
border-radius:14px;
text-align:center;
}

.table{
width:100%;
border-collapse:collapse;
}

.table th,
.table td{
padding:12px;
border-bottom:1px solid #1D3656;
text-align:left;
}

.search{
margin-bottom:15px;
width:100%;
padding:12px;
background:#07152B;
border:1px solid #28415F;
color:white;
border-radius:8px;
}
